<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanrensoft.base.mapper.SysNavRoleMapper">
  <resultMap id="BaseResultMap" type="com.lanrensoft.base.po.SysNavRole">
    <id column="snr_id" jdbcType="VARCHAR" property="snrId" />
    <result column="nav_id" jdbcType="VARCHAR" property="navId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    snr_id, nav_id, role_id
  </sql>
  <select id="selectByExample" parameterType="com.lanrensoft.base.po.SysNavRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_nav_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_nav_role
    where snr_id = #{snrId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_nav_role
    where snr_id = #{snrId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lanrensoft.base.po.SysNavRoleExample">
    delete from sys_nav_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lanrensoft.base.po.SysNavRole">
    insert into sys_nav_role (snr_id, nav_id, role_id
      )
    values (#{snrId,jdbcType=VARCHAR}, #{navId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lanrensoft.base.po.SysNavRole">
    insert into sys_nav_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="snrId != null">
        snr_id,
      </if>
      <if test="navId != null">
        nav_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="snrId != null">
        #{snrId,jdbcType=VARCHAR},
      </if>
      <if test="navId != null">
        #{navId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lanrensoft.base.po.SysNavRoleExample" resultType="java.lang.Long">
    select count(*) from sys_nav_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_nav_role
    <set>
      <if test="record.snrId != null">
        snr_id = #{record.snrId,jdbcType=VARCHAR},
      </if>
      <if test="record.navId != null">
        nav_id = #{record.navId,jdbcType=VARCHAR},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_nav_role
    set snr_id = #{record.snrId,jdbcType=VARCHAR},
      nav_id = #{record.navId,jdbcType=VARCHAR},
      role_id = #{record.roleId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanrensoft.base.po.SysNavRole">
    update sys_nav_role
    <set>
      <if test="navId != null">
        nav_id = #{navId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where snr_id = #{snrId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanrensoft.base.po.SysNavRole">
    update sys_nav_role
    set nav_id = #{navId,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR}
    where snr_id = #{snrId,jdbcType=VARCHAR}
  </update>
</mapper>