<link href="${ctxPath}/plugin/select2-develop/dist/css/select2.min.css" type="text/css" rel="stylesheet" />
<link href="${ctxPath}/plugin/bootstrap-3.3.5-dist/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="${ctxPath}/plugin/bootstrap-table-master/dist/bootstrap-table.css">
<link rel="stylesheet" href="${ctxPath}/plugin/layui-v1.0.9_rls/layui/css/layui.css" media="all">
<link href="${ctxPath}/plugin/jQuery-File-Upload-9.12.5/css/jquery.fileupload.css" type="text/css" rel="stylesheet" />
<link href="${ctxPath}/static/console/css/zq.css" type="text/css" rel="stylesheet" />

