<script>
    var zqCtxPath="${ctxPath}";
</script>

<script src="${ctxPath}/plugin/jquery/jquery-1.10.2.min.js" charset="utf-8"></script>
<script type='text/javascript' src='${ctxPath}/plugin/bootstrap-3.3.5-dist/js/bootstrap.min.js'></script>
<script src="${ctxPath}/plugin/bootstrap-table-master/dist/bootstrap-table.js"></script>
<script src="${ctxPath}/plugin/bootstrapQ-master/bootstrapQ.js"></script>
<script src="${ctxPath}/plugin/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.js"></script>

<script src="${ctxPath}/plugin/layui-v1.0.9_rls/layui/layui.js" charset="utf-8"></script>
<script src="${ctxPath}/plugin/jQuery-File-Upload-9.12.5/js/vendor/jquery.ui.widget.js"></script>
<script src="${ctxPath}/plugin/jQuery-File-Upload-9.12.5/js/jquery.iframe-transport.js"></script>
<script src="${ctxPath}/plugin/jQuery-File-Upload-9.12.5/js/jquery.fileupload.js"></script>
<script type='text/javascript' src='${ctxPath}/plugin/select2-develop/dist/js/select2.min.js'></script>
<script src="${ctxPath}/plugin/ckeditor/ckeditor.js"></script>
<script src="${ctxPath}/static/console/js/table-crud.js"></script>
<script src="${ctxPath}/static/console/js/field-component.js"></script>
<script src="${ctxPath}/static/console/js/upfile.js"></script>
<script src="${ctxPath}/static/console/js/upload.js"></script>
<script type='text/javascript' src='${ctxPath}/plugin/bootstrap-3.3.5-dist/bootstrap3-validation.js'></script>
<script type='text/javascript' src='${ctxPath}/plugin/js-spark-md5/spark-md5.js'></script>
<script type='text/javascript' src='${ctxPath}/plugin/file-md5.js'></script>
